# Personal

vnckill(){
	vncserver -kill :$1
}
alias g="git"
alias ls="ls --color=auto"
alias ll="ls -la"
alias lld="ls -lad"
alias llt="ls -latr"
e(){
	emacs $@ &
}
xt(){
	xterm $@ &
}
alias gr="git rev-parse --show-toplevel"
alias h="history 20"
alias l="less -i "
mcd(){
	mkdir -pv $1 && cd $1
}
alias clean="rm -fv {,.}{*~,#*#}"
alias myxrdb="xrdb -cpp cpp -load ~/.Xresources"
alias j="jobs -l"
wta(){
	git worktree add -b $1 $1 $2 && cd $1
}
relabel(){
	export LABEL="$@"
	echo -ne "\033]0;$@\007"
}
alias rlbn='relabel $(basename $(gr))'
rps(){
	git rev-parse --short=4 $1
}
alias isgit="git rev-parse --is-inside-work-tree >& /dev/null"
alias gfp="git fetch --prune"
alias gdn="git diff --name-only "
alias brn="git branch --show-current "
newname(){
	local NUM=0
	local FILE=$1
	if [ -e "$1" ]; then
		while [ -e "${1}.$NUM" ]; do
			((NUM++))
		done
		FILE=${1}.$NUM
	fi
	echo $FILE
}
alias xc="xclip -o"
alias sp="for f in {1..5} ; do echo ; done"
alias gdno="git diff --name-only "
