[branch]
	sort = -committerdate
[diff]
	algorithm = histogram
	colorMoved = plain
	renames = true
	mnemonicPrefix = true
[push]
	default = simple
	autoSetupRemote = true
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[commit]
	verbose = true
[merge]
	conflictstyle = zdiff3
